// font
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
$Lato: 'Lato', sans-serif;
$Roboto: 'Roboto', sans-serif;

// colors
$blue: #1462e9;
$dark-blue: #1e2b43;
$bg1: #f1f4f9;
$bg2: #f8fafc;
$main-white: #fafafa;
$main-black: #0b0b0d;
$sub-black: #474a56;
$caption: #929aab;

// reset
html {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: $Roboto;
}

body {
  background-color: $bg2;
}

h1 {
  font-size: 7rem;
  font-weight: 900;
  color: $main-black;

  @include media('<699px') {
    font-size: 5rem;
  }

  @include media('<500px') {
    font-size: 4rem;
  }
}

h2 {
  font-size: 4rem;
  color: $main-black;
  letter-spacing: 0.25px;

  @include media('<699px') {
    font-size: 3rem;
  }
}

h3 {
  color: $main-black;
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
  color: $sub-black;
  word-spacing: 0.2rem;
  line-height: 1.7rem;
}

@mixin small-btn {
  font-size: 1.3rem;
  padding: 1rem;
  border-radius: 0.5rem;
  outline: none;
  border: none;
  background-color: $blue;
  color: $main-white;
  width: 16.5rem;
  margin-bottom: 2rem;

  &:hover {
    cursor: pointer;
  }
}

@mixin card-container {
  display: flex;
  flex-direction: row;
  padding: 2rem 0;

  @include media('<1180px') {
    flex-wrap: wrap;
  }
}

@mixin card {
  // play with this value to achieve a grid like structure. 40%, 100%
  width: 25%;
  margin-right: 5rem;

  @include media('<1370px') {
    width: 40%;
    margin-bottom: 5rem;
  }

  @include media('<860px') {
    width: 90%;
    margin-right: 0rem;
    margin-bottom: 5rem;
  }

  &:last-child {
    margin-right: 0;
  }

  h3 {
    margin: 1.5rem 0;
  }
}

@mixin card-img {
  border-radius: 0.5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 75%;
}

@mixin spacing-one {
  @include media('>1550px') {
    padding: 10rem 25rem;
  }

  @include media('>1800px') {
    padding: 10rem 35rem;
  }

  @include media('<550px') {
    padding: 5rem;
  }
}

@mixin spacing-two {
  @include media('>1550px') {
    padding: 10rem 15rem;
  }

  @include media('>1800px') {
    padding: 10rem 25rem;
  }

  @include media('<550px') {
    padding: 10rem 5rem;
  }
}
