.manage {
  background-color: $dark-blue;
  padding: 15rem 10rem;
  display: flex;
  justify-content: space-between;
  position: relative;

  @include spacing-one;

  &__content {
    max-width: 55rem;

    h1 {
      color: #fafafa;
      margin-bottom: 2rem;
    }

    p {
      color: $bg2;
      margin: 1.5rem 0;
      margin-bottom: 2rem;
      max-width: 50rem;
    }

    button {
      @include small-btn;
    }
  }

  &__graphic {
    position: absolute;
    top: -5rem;
    right: 10rem;

    @include media('>1550px') {
      right: 25rem;
    }

    @include media('>1800px') {
      right: 35rem;
    }

    .img-wrapper {
      width: 40rem;
      overflow: hidden;

      @include media('<1180px') {
        display: none;
      }

      img {
        width: 100%;
        border-radius: 1rem;
      }
    }
  }
}
