.nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: $bg1;
  padding: 3rem 10rem;
  position: sticky;
  top: 0;
  z-index: 1;

  @include media('<1125px') {
    padding: 3rem 5rem;
  }

  &__logo {
    display: flex;
    flex-direction: row;
    flex-grow: 3;

    span {
      display: inline-block;
      font-size: 2.3rem;
      margin-right: 0.5rem;
    }

    h3 {
      color: $main-black;
      font-size: 2.5rem;
    }
  }

  &__links {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    flex-grow: 2;
    justify-content: flex-end;

    li {
      a {
        text-decoration: none;
        color: $sub-black;
        font-size: 1.8rem;
        margin: 0rem 2rem;

        @include media('<1125px') {
          display: none;
        }
      }

      &:last-child {
        a {
          background-color: $blue;
          padding: 1rem 2rem;
          border-radius: 0.5rem;
          color: white;
          margin-right: 0;
        }
      }
    }

    .divider {
      height: 2rem;
      width: 0.19rem;
      margin: 0 1.5rem;
      background-color: #c0c6d2;

      @include media('<1125px') {
        display: none;
      }
    }
  }
}

.nav {
  &__mobile {
    font-size: 3rem;
    color: $main-black;

    @include media('>1125px') {
      display: none;
    }
  }
}
